#Mac OS
.DS_Store

# Ignore IntelliJ and other IDE files
.idea/
Morse-Code-Ninja.iml
.vscode/settings.json


# Cache
cache/

# Don't accidently check in credentials
aws.properties*

# python venv
venv/

*.log

# Don't check in rendered mp3 files
*.mp3
